<ion-view class="body-bg">
  <ion-header-bar class="bar-transparent">
<div class="buttons" >
<i class="icon ion-arrow-left-c iconsize headericon" ng-click="back()"></i>
<h1 class="title text-center btn-white aligncenter"> Join Us</h1>
</div>

</ion-header-bar>

  <ion-content >
   
	
	
	  <div class="list padding ">
	  <div class="list padding ">
	       <div class="profile-box1 text-center">
		       <div class="profile-pic">
			     <img src="img/profile-img.jpg" />
				<a href=""> <i class="ion-ios-camera xxxlarge btn-white"></i></a>
			   </div>
			    
		   </div>
		   <h4 class="aligncenter"> Interested In Program </h4>
		   
		 <div class="row bordertopbottom">
			<div class="col"><input type="checkbox" class="roundedOne">Formative </div>
			<div class="col"><input type="checkbox" class="roundedOne">Escola </div>
		 </div>
		 <h4 class="aligncenter"> Select Center </h4>
		 <select style="width:100%;">
       <option value="volvo">Volvo</option>
       <option value="saab">Saab</option>
       <option value="opel">Opel</option>
        </select>
		  <label class="item item-input item-floating-label">
			<span class="input-label">First Name</span>
			<input type="text" placeholder="First Name">
		  </label>
		  
		  <label class="item item-input item-floating-label">
			<span class="input-label">DOB</span>
			<input type="text" placeholder="Enter Date of Birth">
		  </label>
		  
		  <label class="item item-input item-floating-label">
			<span class="input-label">Class</span>
			<input type="text" placeholder="Enter Class">
		  </label>
		  
		   <label class="item item-input item-floating-label">
			<span class="input-label">School Name</span>
			<input type="text" placeholder="School Name">
		  </label>
		  
		  <label class="item item-input item-floating-label">
			<span class="input-label">Contact Number</span>
			<input type="text" placeholder="Enter Contact No">
		  </label>
		  
		  <label class="item item-input item-floating-label">
			<span class="input-label">Address</span>
			<textarea placeholder="Address"></textarea>
		  </label>
		  
		  <label class="item item-input item-floating-label">
			<span class="input-label">Emergency Contact Number</span>
			<input type="text" placeholder="Enter Emergency Contact No">
		  </label>
		  
	    <div class="btn-top">
		
		<button class="button button-block button-energized" ng-click="login(loginData)">Submit</button></div>
		  
	   
      </div>
      </div>

  </ion-content>
</ion-view>
