<ion-view class="backgroundcontent">
<ion-content class="textcolor">
 <div class="row"><img class="centerimg" src="{{userphoto}}"></div>
  <div><h3 class="aligncenter"> {{username}} </h3> </div>
  

<div class="row">
	<div class="col"><i class="icon ion-star iconlength middleiconposition" ></i></div>
	<div class="col centertext" ng-click="myprofile()">MY PROFILE</div>
</div>
<div class="row">
	<div class="col"><i class="icon ion-person-stalker iconlength middleiconposition" ></i></div>
	<div class="col centertext" ng-click="myprofile()">MY BATCHMATES</div>
</div>
<!--<div class="row">
	<div class="col"><i class="icon ion-planet iconlength middleiconposition"></i></div>
	<div class="col centertext" ng-click="createprofile()">CREATE PROFILE</div>
</div> -->
<div class="row">
	<div class="col"><i class="icon ion-compass iconlength middleiconposition"></i></div>
	<div class="col centertext" ng-click="mytimetable()">MY BATCH TIME TABLE</div>
</div>

<div class="row">
	<div class="col"><i class="icon ion-eye iconlength middleiconposition"></i></div>
	<div class="col centertext" ng-click="newspage()">NEWS !WHATS HAPPENING*</div>
</div>
<div class="row">
	<div class="col"><i class="icon ion-ios-loop iconlength middleiconposition"></i></div>
	<div class="col centertext" ng-click="studentlist()">CIRCULAR/ALERTS*</div>
</div>
<div class="row">
	<div class="col"><i class="icon ion-calendar iconlength middleiconposition"></i></div>
	<div class="col centertext" ng-click="calenderpage()">CLUB CALENDER</div>
</div>

<div class="row">
	<div class="col"><i class="icon ion-ios-stopwatch-outline iconlength middleiconposition"></i></div>
	<div class="col centertext">QUIZ</div>
</div>
<div class="row">
	<div class="col"><i class="icon ion-arrow-up-a iconlength middleiconposition"></i></div>
	<div class="col centertext">FACEBOOK</div>
</div>
<div class="row">
	<div class="col"></div>
	<div class="col centertext">................</div>
</div>
<div class="row">
	<div class="col"><i class="icon ion-ios-medical iconlength middleiconposition"></i></div>
	<div class="col centertext">MY ATTENDANCE</div>
</div>

<div class="row">
	<div class="col"><i class="icon icon ion-document iconlength middleiconposition"></i></div>
	<div class="col centertext"> PROGRESS REPORT</div>
</div>
<div class="row">
	<div class="col"><i class="icon ion-outlet iconlength middleiconposition"></i></div>
	<div class="col centertext">FEE</div>
</div>
<div class="row">
	<div class="col"><i class="icon ion-map iconlength middleiconposition"></i></div>
	<div class="col centertext">HEALTH CHECKUP</div>
</div>
<div class="row">
	<div class="col"><i class="icon ion-help iconlength middleiconposition"></i></div>
	<div class="col centertext">HELP DESK</div>
</div>
<!--<div class="row">
	<div class="col"><i class="icon ion-checkmark iconlength middleiconposition"></i></div>
	<div class="col centertext">UPCOMING EVENTS</div>
</div> -->
<div class="row"><div class="col"><i class="icon ion-log-out iconsize3"></i></div><div class="col"><h3 class="toptext" ng-click="logout()"> Logout </h3></div><div class="col"></div></div>
</ion-content>
</ion-view>