<ion-modal-view class="body-bg">
  <ion-header-bar class="bar-transparent">
<div class="buttons">
<i class="icon ion-close iconsize" ng-click="modal2.hide()"></i>
<h1 class="title textcenter btn-white"> Forgot Password </h1>
</div>

</ion-header-bar>

  <ion-content >
   <div class="list padding ">
    <form role="form" method="post" name="myForm" novalidate>
	
	
	
		<div class="list padding">
		  <label class="item item-input item-floating-label">
			<span class="input-label">Email Address</span>
			<input type="email" placeholder="Enter Email Address" ng-model="loginData.email" name="myAddress">
		  </label>
		   <span class="help-block" ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
	    <div class="btn-top">
		
		<button class="button button-block button-energized" ng-click="login(loginData)">Submit</button></div>
		  
	   </div>
	   
	   
     
      </div>
    </form>
	</div>
  </ion-content>
</ion-modal-view>
