<ion-view>
<ion-header-bar class="bar-assertive">
<div class="buttons">
<i class="icon ion-arrow-left-c headericon" ng-click="home()"></i>
</div>
<h1 class="title centeralign"> Help (मदद) </h1>
</ion-header-bar>
<ion-content class="contenttext contentmargin">
1.Go to Google Play Store Android & Type "Keshri Samaj"
<br>
2.Download & Install
<br>
3.After Installation is completed,App will load in Smart Phone
<br>
4.Click "Register" & Create your Membership Account.<br> Use your correct 10 digit mobile 
number as mobile number will be used for login in to the App 
<br>
5.You need to verify your Mobile Number using the OTP received
<br>
6.After Mobile Number verification on you can login using mobile number & password
<br>
7.You can use forgot password feature to reset your password anytime
<br>
8.After Login You can upload your profile from my account tab
<br>
9.You can create as my matrimonial profile with Photo of each of your family members, Relative etc
<br>
10.Search Matrimonial Profiles, Select your match & send request using your own multiple Profiles created by you
<br>
11.Request will be sent & upon acceptance you can start communicating using message section
<br>
12.You can accept & reject the request, reject will stop the communication with selected profile & accept will allow you to communicate using message section
<br>
13.Deactivate the profile if matrimonial requirements are over.
<br>
14. Browse Keshri Samaj member's
<br>
<br> Support Admins : <br><span style="font-weight:bold;">1. Shambhaw Keshri, Hazaribagh (8409211973)  <br> 2. Dr Badri Vishal ,Chitrakoot Uttar Pradesh(9648669168) </span>
</ion-content>
</ion-view>