<ion-modal-view class="content-conatiner">
  <ion-header-bar>
    
  

  </ion-header-bar>
  <ion-content>
 
    <form ng-submit="doLogin()">
	<div class="top-btn padding"> <button class="button button-calm ">
  Login
</button>
<button class="button button-positive item-button-right">
  Register
</button> </div>
		
	
       <div class="list padding">
        
        
		
		 <label class="item item-input item-select spc">
    <div class="input-label">
      Search in
    </div>
    <select>
      <option>3</option>
      <option selected>2</option>
      <option>7</option>
    </select>
  </label>
		<label class="item item-input spc">
         
		 <input type="text" placeholder="Location">
          
        </label>
		
		<div class="list card card-section">

  <div class="item item-avatar list-btn">
    <img src="../img/78.png">
    <h2>Marty McFly</h2>
    <p>November 05, 1955</p><button class="button button-small button-balanced">
     <i class="ion-heart"></i> Send Interst
    </button>
  </div>
  </div>
  
  <div class="list card card-section">

  <div class="item item-avatar list-btn">
    <img src="../img/78.png">
    <h2>Marty McFly</h2>
    <p>November 05, 1955</p><button class="button button-small button-balanced">
     <i class="ion-heart"></i> Send Interst
    </button>
  </div>
  </div>
  
  <div class="list card card-section">

  <div class="item item-avatar list-btn">
    <img src="../img/78.png">
    <h2>Marty McFly</h2>
    <p>November 05, 1955</p><button class="button button-small button-balanced">
     <i class="ion-heart"></i> Send Interst
    </button>
  </div>
  </div>
  
      
          
		  <!--a href="#/tab/signup" class="button button-positive button-clear button-block ">Forgot Password</a-->
        
      </div>
    </form>
  </ion-content>
</ion-modal-view>
