<ion-view>

<ion-header-bar class="bar-assertive">
<p style="color:white;font-size:20px;" ng-click="backpage()"> Back </p>
<i class="icon ion-home headericon" ng-click="home()"></i>
</ion-header-bar>
<ion-content>
<img src="img/matrimony.jpg" style="width:100%;">
<div class="row">
	<div class="col"><button class="button buttonheight button-assertive icon ion-chatbubble" style="font-size: 14px;">MESSAGE NOW</button></div>
	<div class="col"><button class="button buttonheight button-assertive icon ion-heart" style="font-size: 14px;" >SEND INTEREST</button></div>
</div>
<h3 style="color:red;">PERSONAL DETAILS </h3>
<p>Venkman  Back off, man. I'm a scientist.</p>
<h3 style="color:red;">BASIC DETAILS </h3>
<div class="row">
	<div class="col"> AGE </div>
	<div class="col"></div>
	<div class="col">21</div>
</div>
<div class="row">
	<div class="col"> GENDER</div>
	<div class="col"></div>
	<div class="col">FEMALE</div>
</div>
<p class="para2"> LISTING <span style="color:red"> APP </span> </p>
</ion-content>
</ion-view>