<ion-view class="body-bg">
  <ion-header-bar class="bar-transparent">
<div class="buttons">
<i class="icon ion-arrow-left-c headericon" ng-click="home()"></i>
<h1 class="title text-center btn-white"> Profile </h1>
</div>

</ion-header-bar>

  <ion-content >
   <div class="list">
    
	
	
	  <div class="list margin-bot-zero">
	       <div class="profile-box text-center">
		       <div class="profile-pic">
			     <img src="img/a4.jpg" />
				<!--a href=""> <i class="ion-ios-camera xxxlarge btn-white"></i></a-->
			   </div>
			    <h4>Arhaan Uppal</h4>
				<span class="btn-white">Student</span>
		   </div>
	 </div>
	 
	 </div>

	 
 
<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

        <ion-tab title="Basic Info">
            <ion-nav-view name="tab-1">
              <ion-content padding="true" has-header="false">
                 
                <div class="list">
				  <div class="item item-divider">
					Candy Bars
				  </div>

				  <a class="item" href="#">
					Butterfinger
				  </a>

				 </div>

				
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Complete Info">
            <ion-nav-view name="tab-2">
              <ion-content padding="true" has-header="false">
                  <h5 class="text-center">Coming Soon</h5>
              </ion-content>
            </ion-nav-view>
        </ion-tab>

       

    </ion-tabs>
 
	
	 
	  
	 
		
		 
		  
	     
	   
      
      
   
	
	
  </ion-content>
</ion-view>
