<ion-modal-view class="content-conatiner">
  <ion-header-bar class="bar-assertive">
    
  <i class="icon ion-close headericon" ng-click="modalo.hide()"></i>
   <h1 class="title centeralign"> Resend Otp (पुन: भेजने OTP) </h1>
  </ion-header-bar>
  <ion-content>
  <div class="list padding">
    <form  class="form-horizontal" role="form" method="post" name="registration" novalidate>
	
	<span class="help-block" 
                  ng-show="((registration.phone.$error.minlength ||
                           registration.phone.$error.maxlength) && 
                           registration.phone.$dirty) ">
                           phone number should be 10 digits
            </span>
		<label class="item item-input spc">
       
	<input type="number"  placeholder="Enter your mobile number (मोबाइल नंबर)" ng-model="user.number" class="form-control" 
                   ng-minlength="10" 
                   ng-maxlength="10" name="phone"  ng-required="true" >
          
        </label>
		</form>
		<button class="button button-full button-assertive" ng-click="newotp(user)"> Get New OTP (नई ओटीपी प्राप्त करें)</button>
 </div>
</ion-content>
</ion-modal-view>