<ion-view class="back1">
<ion-content>
<div class="title center"><img src="img/listinglogo.png" class="imglogo4"></div>
<div class="hinditext"> झारखंड प्रदेश केशरवानी वैश्य तरूण सभा </div>
<div class="bottomtagline3">Developed & Maintained By <br>Pramod Kumar Keshri,<br>S/o Shri Prameshwar Prasad Keshri
<br>Barhi, Hazaribagh, Jharkhand<br>
Whatsapp: 9356704158 <br>
Email: keshripramod@gmail.com <br><br>

Director, Softoasis Technologies Pvt Ltd, <br>
Chandigarh( India ) 
<br><br>
We Provide : Web development, Mobile Apps Development
</div>
</ion-content>
</ion-view>