<ion-view class="content-conatiner">
 <ion-header-bar class="bar-assertive">
<div class="buttons">
<i class="icon ion-arrow-left-c headericon " ng-click="home()"></i>
</div>
<h1 class="title centeralign"> Select State (राज्य चुनें) </h1>
</ion-header-bar>
  <ion-content>

      <div class="card cardmargin" ng-repeat="state in India" ng-click="showcities(state)">
     	<div class="sect">
		 <div class="item item-button-right">
				{{state.State}}<span style="position:relative;left:10%;">{{state.hindi}}</span>
			
			<button  class="button button-positive rt-button buttoncolor">
			  <i class="icon ion-chevron-right"></i>
			</button>
		  </div>
		  
		
		
		
		
			</div>
			</div>
			
 
 

  </ion-content>
</ion-view>