<ion-view class="back">
<ion-content>

<h1 class="topfont"> THANK YOU !! </h1>
<p class="paratop"> REGISTERATION SUCCESSFULL </p>
<p class="paramiddle"> ENTER OTP RECEIVED ON YOUR MOBILE NUMBER</p>
<p class="parabottom"> ENTER CODE <p>
<div class="list padding">
<label class="item item-input spc labelborder" style="background: #fafafa;" >
		
        <input  type="number" class="onlyinput" ng-model="person.otp" placeholder="Plase Enter  OTP">
 </label>
		</div>
<button class="button button-assertive buttonbottom" ng-click="checkotp(person)">VERIFY OTP </button>
<!-- <p style="text-align:center;padding-top: 2%;"> ALREADY ACTIVATED <span style="color:red;font-weight:bold;" ng-click="loginpage(person)"> LOGIN HERE </span> </p>
 -->
<!-- <p  class="paralist" ng-click="resendotp()"> RESEND OTP</p> -->
</ion-content>
</ion-view>