<ion-view>
  <ion-header-bar class="bar-assertive">
<div class="buttons">
<i class="icon ion-arrow-left-c headericon" ng-click="home()"></i>
</div>
    <h1 class="title centeralign">Membership Fee (मेम्बरशिप फी  )</h1>

  </ion-header-bar>
  <ion-content>
  <div>
    <div class="card">
      <div class="borderpayment">
		<h4 class="membertag paymenttag">Pay Membership for 6 Months</h4>
		<div class="pm-button">
       <a ng-click="newlink2()">
	   <h4 class="paymenttag"> Pay Rs 500 </h4>
                <img src="https://www.payumoney.com//media/images/payby_payumoney/buttons/211.png" />
            </a>    		
	</div>
	</div>
	</div>
	<div style="padding-top:5%;">
	 <div class="card">
	   <div class="borderpayment1">
		<h4 class="membertag paymenttag1">Pay Matrimonial( single Profile ) <br> + Membership Fee for 6 Months </h4>
		<div class="pm-button">
       <a ng-click="newlink()">
	    <h4 class="paymenttag1"> Pay Rs 1500 </h4>
                <img src="https://www.payumoney.com//media/images/payby_payumoney/buttons/211.png" />
            </a>    		
	</div>
	</div>
	</div>
	</div>
	<div style="padding-top:5%;">
	 <div class="card">
	   <div class="borderpayment2"> 
		<h4 class="membertag paymenttag2">Pay Multiple Matrimonial Fee <br> + Membership Fee for 6 Months </h4>
		<div class="pm-button">
       <a ng-click="newlink3()">
                <img src="https://www.payumoney.com//media/images/payby_payumoney/buttons/211.png" />
            </a>    		
	</div>
	</div>
	</div>
	</div>
	
	<div style="padding-top:3%;">
	 <div class="card">
	<h4 class="membertag1"> Pay to Bank  Account : IndusInd Bank
     <br><br>Ac Name: Softoasis Technologies Pvt Ltd
     <br> A/c Number:201000267101
     <br> IFSC Code:INDB0000668
     <br> Branch: 0668-sector-67-Mohali
	 <br> Whatsapp bank receipt on +91-9356704158 after payment
	 </h4>
	 </div>
	 </div>
	
  </ion-content>
</ion-view>
